@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.container {
    width: 1440px;
    margin: 0 auto;
    
  }

  
  .title{
    color:indigo;
    text-align: center;
    text-transform: uppercase;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .responsive {
      margin: 0 auto;
  }
.container .row{
    background-color: lightpink;
  
}

.col-12 {
  
    width: 100%;
    float: left;
}
.col-11 {
    width: 91.57%;
    float: left;
}
.col-10 {
    width: 83.27%;
    float: left;
}
.col-9 {
    width: 74.97%;
    float: left;
}
.col-8 {
    width: 66.64%;
    float: left;
}
.col-7 {
    width: 58.31%;
    float: left;
}
.col-6{
    width: 49.98%;
    float: left;
}
.col-5{
    width: 41.65%;
    float: left;
}
.col-4{
    width: 33.32%;
    float: left;
}
.col-3{
    width: 24.99%;
    float: left;
}
.col-2{
    width: 16.66%;
    float: left;
}
.col-1 {
    width: 8.33%;
    float: left;
}

.padding {
    padding: 10px;
}
.margin {
    margin: 10px;
}

.border-box {
    box-sizing: border-box;
}

.font {
    font-family: 'Montserrat', sans-serif;
}